﻿* {
    box-sizing: border-box;
    outline: none;
}
.tasks {
    display:flex;
    flex-flow: row wrap;
    margin: 0 -.25rem;
    }

.tasks__labels, .tasks__task, .tasks__add{
    display: flex;
    width: 100%;
    margin: 0;
}

.tasks__item {
    padding: .25rem;
    margin: .25rem;
    overflow: hidden;
}

.tasks__item:first-child {
    flex: 1;
}

.task-label {
    background: dodgerblue;
    font-weight: bold;
}
.task-add{
    background: pink;
}
.task-action{
    width: 20%;
}
.task-is-complete {
    width: 20%;
}
.task{
    background: lightgray;
}
.task-name__text{
    width: calc(100% - .5rem);
}
.field-label {
    font-weight: bold;
    padding-right: 0.25rem;
}